<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PesquisarCursoController</servlet-name>
        <servlet-class>controller.PesquisarCursoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarAlunoController</servlet-name>
        <servlet-class>controller.PesquisarAlunoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarProfessorController</servlet-name>
        <servlet-class>controller.PesquisarProfessorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarProjetoController</servlet-name>
        <servlet-class>controller.PesquisarProjetoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarSubAreaController</servlet-name>
        <servlet-class>controller.PesquisarSubAreaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarAreaController</servlet-name>
        <servlet-class>controller.PesquisarAreaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarEditalController</servlet-name>
        <servlet-class>controller.PesquisarEditalController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarFomentoController</servlet-name>
        <servlet-class>controller.PesquisarFomentoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarSetorController</servlet-name>
        <servlet-class>controller.PesquisarSetorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarDiretoriaController</servlet-name>
        <servlet-class>controller.PesquisarDiretoriaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterAlunoController</servlet-name>
        <servlet-class>controller.ManterAlunoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisarCursoController</servlet-name>
        <url-pattern>/PesquisarCursoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarAlunoController</servlet-name>
        <url-pattern>/PesquisarAlunoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarProfessorController</servlet-name>
        <url-pattern>/PesquisarProfessorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarProjetoController</servlet-name>
        <url-pattern>/PesquisarProjetoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarSubAreaController</servlet-name>
        <url-pattern>/PesquisarSubAreaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarAreaController</servlet-name>
        <url-pattern>/PesquisarAreaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarEditalController</servlet-name>
        <url-pattern>/PesquisarEditalController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarFomentoController</servlet-name>
        <url-pattern>/PesquisarFomentoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarSetorController</servlet-name>
        <url-pattern>/PesquisarSetorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarDiretoriaController</servlet-name>
        <url-pattern>/PesquisarDiretoriaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterAlunoController</servlet-name>
        <url-pattern>/ManterAlunoController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
