/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/09/2014, 19:20:20
    Author     : FelipeFerraz
*/
@charset "UTF-8";
/* CSS Document */


body{
    font-family: "helvetica";
    margin-left: 0%;
    margin-right: 5%;
}

#title{
    position:absolute;
    width:600pt;
    top:20pt;
    left:180pt;
    font-style:bold;
    color:#3A5FCD;
}

#index{
    font-family:Helvetica;
    width:90%;
    // background-color: #F8F8FF;
    position:absolute;
    top:100pt;
    left:40pt;
    text-align:center;
    border-top:1px solid black;
    border-bottom:1px solid black;
}


.itemMenu{
    font-size:20px;
    font-family:Helvetica;
    font-weight: bold;
}

a{
    color:#009ACD;
    text-decoration: none
}

a:hover {
    color:orange;
}


.cadastro{
    font-family:Helvetica;
    width:90%;
    // background-color: #F8F8FF;
    position:absolute;
    top:150pt;
    left:40pt;
    text-align:left;
    border-top:0px solid black;
    border-bottom:0px solid black;
 
}